@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(60deg, rgb(36, 126, 72), #000000, #5d5d5d);
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Default styles for smaller screens */
/* Adjust your styles for smaller screens here */

/* Media query for screens with a minimum width of 1200px */
@media (min-width: 1200px) {
  /* Styles for larger screens */
  .content-container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Center the content container on larger screens */
  }
}

/* Media query for screens with a minimum width of 1600px */
@media (min-width: 1600px) {
  /* Additional styles for even larger screens */
  .content-container {
    max-width: 1600px; /* Adjust as needed */
  }
}
