nav {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Remove single quotes here */
  align-content: center;
  /* border: 3px white solid; */
  position: relative;
  bottom: 30px;
}

.navLink {
  color: whitesmoke;
}

.navLink:hover {
  color: grey;
}

/* Nav.css */
.sticky-nav {
  position: sticky;
  top: 0;
  background-color: rgba(128, 128, 128, 0.202);
  z-index: 100;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 878px) {
  .henry-dev {
    display: none;
  }
  li {
    padding: 10px;
    padding-right: 5px;
  }
}
